<div class="row">
    <div class="col-md-4">
        <h3>Select the files</h3>
        <div class="well drop-zone" appNgDropFiles [ngClass]="{'file-over': isOnDrop}" (mouseAbove)="isOnDrop = $event" [files]="files">
            <h4>Drop files here</h4>
            <img src="assets/drop-images.png" alt="">
        </div>
    </div>
    <div class="col-md-8">
        <h4>Load files</h4>
        <button type="button" (click)="loadImages()" class="btn btn-success" [disabled]="files.length === 0">Load to Firebase</button>
        <button type="button" (click)="cleanImages()" class="btn btn-danger">Clean</button>

        <table class="table">
            <thead class="dark">
                <tr>
                    <th>File Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody class="dark">
                <tr *ngFor="let file of files">
                    <td [ngClass]="{'text-green' : file.progress >= 100}">{{file.fileName}}</td>
                    <td>{{file.file.size / 1024 /1024 | number: '.2-2'}} MB </td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{width: file.progress + '%'}"></div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>